Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  misc-*,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-non-private-member-variables-in-classes'
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -readability-identifier-length,
  -readability-math-missing-parentheses
  -modernize-use-designated-initializers

HeaderFilterRegex: '^(?!.*(external|_deps)).*'
FormatStyle: none

CheckOptions:
  - key:             modernize-use-auto.MinTypeNameLength
    value:           '5'
  - key:             modernize-pass-by-value.IncludeStyle
    value:           'llvm'
  - key:             readability-uppercase-literal-suffix.NewSuffixes
    value:           'L;LL;U;f'
