---
Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  misc-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard

HeaderFilterRegex: '^(?!.*(external|_deps)).*'
FormatStyle: none

CheckOptions:
  # General modern C++ options
  - key:             modernize-use-auto.MinTypeNameLength
    value:           '5'
  - key:             modernize-pass-by-value.IncludeStyle
    value:           'llvm'
...
